﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Chat by SignalR</title>
       
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        
        <div id="body">
           
            <section >
                @RenderBody()
            </section>
        </div>
       
                @Scripts.Render("~/bundles/jquery")
                
        @RenderSection("scripts", required: false)
    </body>
</html>
